@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceIn {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.05); }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}

.animate-bounceIn {
  animation: bounceIn 0.5s ease-out;
}
